body {
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-width: 0px;
    padding: 0px;
    margin: 0px
}

html {
    height: 100%;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none
}

input,
textarea {
    font: 12px "OpenSans", Arial, sans-serif;
    color: #333;
    outline: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0
}

input[type="button"],
input[type="submit"],
button {
    cursor: pointer
}

td {
    margin: 0px;
    padding: 0px
}

form {
    padding: 0px;
    margin: 0px
}

a {
    color: #000100;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-decoration: none;
    outline: none
}

input[type=submit],
input[type=button] {
    -webkit-appearance: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

@font-face {
    font-family: 'SourceSansPro';
    src: local("SourceSansPro-Regular"), url("fonts/SourceSansPro-Regular.woff") format("woff"), url("fonts/SourceSansPro-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'SourceSansPro';
    src: local("SourceSansPro-Bold"), url("fonts/SourceSansPro-Bold.woff") format("woff"), url("fonts/SourceSansPro-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

ul li {
    list-style: none
}

img {
    max-height: 100%
}

body {
    background: #f0f7fb;
    font-family: "SourceSansPro", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px
}

.out {
    min-width: 320px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh
}

.wrapper {
    max-width: 1180px;
    margin: auto;
    padding: 0 20px
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0;
    min-height: calc(100vh - 60px)
}

@media screen and (max-width: 660px) {
    .content {
        margin: 30px 0
    }
}

.maintenance-image {
    display: block;
    margin: 0 auto;
    width: 538px;
    height: 454px
}

@media screen and (max-width: 660px) {
    .maintenance-image {
        width: 100%;
        height: auto
    }
}

.maintenance-page {
    text-align: center
}

.maintenance-page h1,
.maintenance-page .h1 {
    font: 700 40px/48px "SourceSansPro", Arial, sans-serif;
    margin-bottom: 20px;
    color: #191919e6
}

.maintenance-page p {
    font: 400 15px/23px "SourceSansPro", Arial, sans-serif;
    max-width: 400px;
    color: #191919e6;
    margin: 0 auto 40px
}